/* #nuance(nuanceNavbar) #css starts  */
.nuanceNavbar .navbar-light .navbar-nav .nav-link {
    color: var(--color-text-primary);
}

.nuanceNavbar .navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-hover-primary);
}

.nuanceNavbar .btn {
    background-color: var(--color-secondary);
    border: none;
    padding: var(--btn-padding-sm);
    color: var(--color-white);
}

.nuanceNavbar .btn:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
}

.nuanceNavbar .col-3 {
    padding-left: 0px !important;
}

/* #nuance(nuanceNavbar) #css ends  */


/* #hoist(hoistHero) #css starts  */
.hoistHero {
    overflow: hidden;
}

.hoistHero .height {
    height: 100vh;
}

.hoistHero .headline {
    left: 130px;
}

.hoistHero .btn {
    background-color: var(--color-secondary);
    color: var(--color-white);
    border-radius: var(--btn-radius-full);
}

.hoistHero .clipped {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
    transition: clip-path 0.3s ease;
    min-height: 350px;
    background-image: url(../images/hero-banner.png);
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 992px) {
    .hoistHero .headline {
        left: 50px;
    }
}

@media screen and (max-width: 650px) {
    .hoistHero .headline {
        left: 20px;
    }

    .hoistHero .clipped {
        clip-path: none;
        max-height: 300px !important;
    }
}

/* #hoist(hoistHero) #css ends  */

/* #faye(fayeFeature) #css starts */
.fayeFeature h2 {
    margin-bottom: var(--spacing-xl);
}

.fayeFeature .mok-box {
    background: var(--color-background-primary);
    padding: var(--spacing-xl) var(--spacing-xl);
    overflow: hidden;
    color: var(--color-text-primary);
    border-radius: var(--border-radius-sm);
    box-shadow: 0 0.3125rem 0.875rem 0 var(--shadow-dark)
}

.fayeFeature .mok-touch {
    border-top: solid 0.3125rem var(--color-secondary);
    z-index: 2
}

.fayeFeature .btn {
    background-color: var(--color-secondary);
    border: none;
    padding: var(--btn-padding-sm);
    color: var(--color-white);
    margin-top: var(--spacing-xl);
}

.fayeFeature .btn:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
}

/* #faye(fayeFeature) #css starts */

/* #penny(pennyProduct) #css starts  */

.pennyProduct .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.pennyProduct .single-product .part-1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}

.pennyProduct .single-product:hover .part-1::before {
    transform: scale(1.2, 1.2) rotate(5deg);
}

.pennyProduct #product-1 .part-1::before {
    background: url("../images/video-editing.jpg") no-repeat center;
    background-size: cover;
    transition: all 0.3s;
}

.pennyProduct #product-2 .part-1::before {
    background: url("../images/wireframe.jpg") no-repeat center;
    background-size: cover;
}

.pennyProduct #product-3 .part-1::before {
    background: url("../images/web-development.jpeg") no-repeat center;
    background-size: cover;
}

.pennyProduct #product-4 .part-1::before {
    background: url("../images/pyton.jpeg") no-repeat center;
    background-size: cover;
}

.pennyProduct .single-product .part-1 .discount,
.pennyProduct .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    color: var(--color-white);
    background-color: var(--color-secondary);
    padding: 2px 8px;
    text-transform: capitalize;
}

.pennyProduct .single-product .part-1 .new {
    left: 0;
    background-color: var(--color-secondary);
}

.pennyProduct .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.pennyProduct .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.pennyProduct .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.pennyProduct .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: var(--color-secondary);
    color: var(--color-white);
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.pennyProduct .single-product .part-1 ul li a:hover {
    color: var(--color-white);
}

.pennyProduct .single-product .part-2 .product-title {
    font-size: var(--font-size-base);
    color: var(--dark);
}

.pennyProduct .single-product .part-2 h4 {
    display: inline-block;
}

.pennyProduct .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
    color: var(--dark);
}

.pennyProduct .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--dark);
    transform: translateY(-50%);
}

/* #penny(pennyProduct) #css ends  */

/* #calvo(calvoClients) #css starts  */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 8))
    }
}

.calvoClients .partners-logo-slider {
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
    background-color: var(--color-white);
    padding: 16px 0px;
}

.calvoClients .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.calvoClients .sliderTitle {
    line-height: normal;
    text-align: center;
    margin-bottom: 40px;
}

.calvoClients .slide {
    height: 100px;
    width: 250px;
    filter: grayscale(100%);
}

.calvoClients .slide:hover {
    filter: grayscale(0%);
}

.calvoClients .partners-logo-slider img {
    max-height: 100px;
    max-width: 250px;
    margin-right: 100px;
}

/* #calvo(calvoClients) #css ends  */

/* #tensor(tensorTestimonial) #css starts  */
.tensorTestimonial .clients {
    color: var(--dark)
}

.tensorTestimonial .image {
    height: 55px;
    width: 55px;
}

.tensorTestimonial .bg-circle {
    width: 60px;
    height: 60px;
    background-color: var(--color-secondary)
}

.tensorTestimonial .second-div {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.tensorTestimonial .text {
    color: var(--color-white);
}

/* #tensor(tensorTestimonial) #css ends  */

/* #cash(cashCounters) #css starts  */
.cashCounters h2 {
    color: var(--color-text-primary);
    margin-top: var(--spacing-sm);
    margin-bottom: 0;
}

.cashCounters .BG {
    background-color: var(--color-background-primary)
}

.cashCounters i {
    font-size: var(--font-size-lg)
}

.cashCounters h4 {
    font-size: var(--font-size-lg);
}

@media (min-width: 576px) {
    .cashCounters .col-md-3 {
        margin-bottom: 30px;
        text-align: center
    }
}

@media (max-width: 576px) {
    .cashCounters .col-md-3 {
        margin-bottom: 30px;
        text-align: center
    }
}

/* #cash(cashCounters) #css ends  */

/* #tristan(tristanTeam) #css starts */
.tristanTeam .our-team {
    text-align: center;
    position: relative;
}

.tristanTeam .our-team:before {
    content: "";
    border: 4px solid var(--color-secondary);
    opacity: 0;
    position: absolute;
    top: -7px;
    left: -7px;
    bottom: -7px;
    right: -7px;
    transform: scale(1.03);
    transition: all 0.6s ease 0s;
}

.tristanTeam .our-team:hover:before {
    opacity: 1;
    transform: scale(1);
}

.tristanTeam .our-team .pic {
    position: relative;
}

.tristanTeam .our-team .pic:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.6s ease 0s;
}

.tristanTeam .our-team:hover .pic:before {
    opacity: 1;
}

.tristanTeam .our-team img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.tristanTeam .our-team .team-content {
    padding: 30px 0 20px;
    position: relative;
    top: 0;
    transition: all 0.6s ease 0s;
}

.tristanTeam .our-team:hover .team-content {
    top: -50%;
}

.tristanTeam .our-team .title {
    display: block;
    color: var(--dark);
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0 0 7px 0;
    transition: all 0.6s ease 0s;
}

.tristanTeam .our-team:hover .title {
    color: var(--color-background-primary);
}

.tristanTeam .our-team .post {
    display: block;
    color: var(--dark);
    text-transform: capitalize;
    transition: all 0.6s ease 0s;
}

.tristanTeam .our-team:hover .post {
    color: var(--dark);
}

.tristanTeam .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0 0 30px;
    list-style: none;
    position: absolute;
    bottom: 15px;
    left: 0;
    opacity: 0;
    transform: scale(0);
    transition: all 0.6s ease 0s;
}

.tristanTeam .our-team:hover .social {
    opacity: 1;
    transform: scale(1);
}

.tristanTeam .our-team .social li {
    display: inline-block;
}

.tristanTeam .our-team .social li a {
    display: block;
    padding: 0 15px;
    font-size: var(--font-size-md);
    color: var(--color-secondary);
    border-right: 1px solid var(--dark);
    position: relative;
    transition: all 0.3s ease 0s;
}

.tristanTeam .our-team .social li a:hover {
    color: var(--dark);
    text-decoration: none;
}

.tristanTeam .our-team .social li:last-child a {
    border-right: none;
}

@media only screen and (max-width: 990px) {
    .tristanTeam .our-team {
        margin-bottom: 30px;
    }
}

/* #tristan(tristanTeam) #css ends */

/* #bob(bobBlog) #css starts  */
.bobBlog .title {
    font-size: var(--font-size-xl);
}

.bobBlog .blog-section {
    height: 320px;
    background-position: center;
    background-size: cover;
}

.bobBlog .BGIMG1 {
    background-image: url(../images/coding.jpg);
}

.bobBlog .BGIMG2 {
    background-image: url(../images/design.jpg);
}

.bobBlog .BGIMG3 {
    background-image: url(../images/marketing.jpg);
}

.bobBlog .blog-category {
    color: var(--color-white);
    border-left: 3px solid var(--color-secondary);
}

.bobBlog .blog-time {
    color: var(--dark);
    font-weight: var(--font-weight-semibold);
}

.bobBlog .blog-container {
    background: rgba(0, 0, 0, .5);
    right: 0;
    bottom: 0;
    left: 0;
}

.bobBlog .shadowbox {
    box-shadow: 0 0 20px var(--color-white);
}

.bobBlog .blog-link {
    line-height: 1.6;
    color: var(--color-white);
}

.bobBlog .blog-author {
    color: var(--color-white);
}

.bobBlog .icon {
    font-size: var(--font-size-xl);
}

.bobBlog small {
    color: var(--color-white);
}

/* #bob(bobBlog) #css ends  */

/* #foot(footFooter) #css starts */
.footFooter h3 {
    color: var(--color-text-primary);
}

.footFooter .nav-link {
    padding: 0.5rem 0rem;
}

.footFooter a {
    color: var(--color-text-primary);
}

.footFooter .text {
    color: var(--color-text-primary);
}

/* #foot(footFooter) #css ends */