/* #nooks(nooksNavbar) #css starts  */
.nooksNavbar .navbar-light .navbar-nav .nav-link {
    color: var(--color-text-primary);
}

.nooksNavbar .navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-hover-primary);
}

.nooksNavbar .btn {
    background-color: var(--color-secondary);
    border: none;
    padding: var(--btn-padding-sm);
    color: var(--color-white);
}

.nooksNavbar .btn:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
}

/* #nooks(nooksNavbar) #css ends  */
/* #hitch(hitchHero) #css starts  */
.hitchHero .bg {
    background-color: var(--color-secondary);
}

.hitchHero h1 {
    color: var(--color-white);
}

.hitchHero p {
    color: var(--color-white);
}

.hitchHero .btn {
    background-color: var(--color-white);
    border-radius: var(--btn-radius-full);
}

/* #hitch(hitchHero) #css ends  */
/* #caisy(caisyClients) #css starts  */
.caisyClients img {
    max-height: 50px;
}

/* #caisy(caisyClients) #css ends  */
/* #pan(panProduct) #css starts  */
.panProduct .product-grid {
    background-color: var(--color-white);
    text-align: center;
}

.panProduct .product-grid .product-image {
    overflow: hidden;
    position: relative;
}

.panProduct .product-grid .product-image a.image {
    display: block;
}

.panProduct .product-grid .product-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.panProduct .product-grid .product-image .pic-1 {
    transition: all 0.5s ease 0s;
}

.panProduct .product-grid .product-image:hover .pic-1 {
    opacity: 0;
}

.panProduct .product-grid .product-image .pic-2 {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}

.panProduct .product-grid .product-image:hover .pic-2 {
    opacity: 1;
}

.panProduct .product-grid .product-discount-label {
    color: var(--color-white);
    background: var(--color-secondary);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-semibold);
    letter-spacing: 1px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.panProduct .product-grid .add-to-cart {
    color: var(--color-white);
    background: var(--color-secondary);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-semibold);
    width: 125px;
    padding: 10px 14px;
    opacity: .85;
    transform: translateX(-50%);
    position: absolute;
    bottom: -75px;
    left: 50%;
    transition: all 0.5s ease 0s;
}

.panProduct .product-grid .add-to-cart:hover {
    opacity: 1;
}

.panProduct .product-grid:hover .add-to-cart {
    bottom: 15px;
}

.panProduct .product-grid .product-links {
    background: var(--color-white);
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    top: 10px;
    right: -50px;
    transition: all 0.3s ease 0s;
}

.panProduct .product-grid:hover .product-links {
    opacity: 1;
    right: 10px;
}

.panProduct .product-grid .product-links li a {
    color: var(--dark);
    font-size: var(--font-size-base);
    line-height: 50px;
    width: 47px;
    height: 50px;
    display: block;
    transition: all 0.3s ease 0s;
}

.panProduct .product-grid:hover .product-links li a:hover {
    color: var(--color-secondary);
    box-shadow: 0 0 5px var(--shadow-dark) inset;
}

.panProduct .product-grid .product-content {
    padding: 12px;
}

.panProduct .product-grid .product-category {
    font-size: var(--font-size-md);
    text-transform: capitalize;
    margin: 0 0 5px;
    display: block;
}

.panProduct .product-grid .product-category a {
    color: var(--dark);
    transition: all 0.3s ease 0s;
}

.panProduct .product-grid .product-category a:hover {
    color: var(--dark)
}

.panProduct .product-grid .title {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    text-transform: capitalize;
    margin: 0 0 8px;
}

.panProduct .product-grid .title a {
    color: var(--dark);
    transition: all 0.3s ease 0s;
}

.panProduct .product-grid .title a:hover {
    color: var(--color-secondary);
}

.panProduct .product-grid .price {
    color: var(--color-secondary);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
}

.panProduct .product-grid .price span {
    color: var(--dark);
    text-decoration: line-through;
    margin: 0 5px 0 0;
}

@media screen and (max-width: 990px) {
    .panProduct .product-grid {
        margin: 0 0 30px;
    }
}

/* #pan(panProduct) #css ends  */
/* #comex(comexCounters) #css starts  */
.comexCounters .card-counter {
    box-shadow: 2px 2px 10px var(--shadow-dark);
    margin: 5px;
    padding: 10px 10px;
    background-color: var(--color-background-primary);
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
}

.comexCounters .card-counter:hover {
    box-shadow: 4px 4px 20px var(--shadow-light);
    transition: .3s linear all;
}

.comexCounters .card-counter {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.comexCounters .card-counter i {
    font-size: var(--font-size-xxlOne);
    opacity: 0.2;
}

.comexCounters .card-counter .count-numbers {
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: var(--font-size-xl);
    display: block;
}

.comexCounters .card-counter .count-name {
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.8;
    display: block;
    font-size: var(--font-size-md);
}

/* #comex(comexCounters) #css ends  */
/* #trevor(trevorTestimonial) #css starts  */
.trevorTestimonial a,
.trevorTestimonial a:active,
.trevorTestimonial a:focus {
    color: var(--dark);
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

.trevorTestimonial img {
    max-width: 100%;
    height: auto;
}


.trevorTestimonial .testimonials .heading {
    margin-bottom: 60px;
}

.trevorTestimonial .testimonials .heading p {
    color: var(--dark);
    line-height: 26px;
    margin: 0;
    max-width: none !important;
}

.trevorTestimonial .testimonials .box {
    box-shadow: 0 10px 30px var(--shadow-light);
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: all 0.4s ease-in-out;
}


.trevorTestimonial .testimonials .box:hover {
    transform: translateY(-10px);
}

.trevorTestimonial .testimonials .box h3 span {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-semibold);
    color: var(--color-secondary);
    margin-left: 10px;
}

.trevorTestimonial .testimonials .box p {
    line-height: 24px;
    margin: 0;
    color: var(--dark);
    margin-bottom: 20px;
    margin-top: 10px;
    padding-right: 20px;
}

.trevorTestimonial .testimonials .box .image img {
    width: 200px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.trevorTestimonial .testimonials .box .icon {
    border: 1px solid var(--color-secondary);
    color: var(--dark);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.trevorTestimonial .testimonials .box .icon:hover {
    color: var(--color-white);
    border: 1px solid var(--color-secondary);
    background: var(--color-secondary);
}

/* #trevor(trevorTestimonial) #css ends  */
/* #enzor(enzorEvents) #css starts  */
.enzorEvents .fl-left {
    float: left
}

.enzorEvents .fl-right {
    float: right
}

.enzorEvents h2 {
    border-left: 10px solid var(--color-primary);
    padding-left: 10px;
    margin-bottom: 30px
}

.enzorEvents .row {
    overflow: hidden
}

.enzorEvents .card {
    display: table-row;
    width: 49%;
    background-color: var(--color-background-primary);
    color: var(--dark);
    margin-bottom: 25px;
    text-transform: capitalize;
    ;
    border-radius: var(--border-radius-md);
    position: relative
}

.enzorEvents .card+.card {
    margin-left: 2%
}

.enzorEvents .date {
    display: table-cell;
    width: 25%;
    position: relative;
    text-align: center;
    border-right: 2px dashed var(--border-color)
}

.enzorEvents .date:before,
.enzorEvents .date:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: var(--color-background-secondary);
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 1;
    border-radius: 50%
}

.enzorEvents .date:after {
    top: auto;
    bottom: -15px
}

.enzorEvents .date time {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.enzorEvents .date time span {
    display: block
}

.enzorEvents .date time span:first-child {
    color: var(--dark);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xl)
}

.enzorEvents .date time span:last-child {
    text-transform: capitalize;
    ;
    font-weight: var(--font-weight-semibold);
    margin-top: -10px
}

.enzorEvents .card-cont {
    display: table-cell;
    width: 75%;
    font-size: var(--font-size-md);
    padding: 10px 10px 30px 50px
}

.enzorEvents .card-cont h3 {
    color: var(--dark);
}

.enzorEvents .card-cont>div {
    display: table-row
}

.enzorEvents .card-cont .even-date i,
.enzorEvents .card-cont .even-info i,
.enzorEvents .card-cont .even-date time,
.enzorEvents .card-cont .even-info p {
    display: table-cell
}

.enzorEvents .card-cont .even-date i,
.enzorEvents .card-cont .even-info i {
    padding: 5% 5% 0 0
}

.enzorEvents .card-cont .even-info p {
    padding: 30px 50px 0 0;
    color: var(--dark);
}

.enzorEvents .card-cont .even-date time span {
    display: block;
    color: var(--dark);
}

.enzorEvents .card-cont a {
    display: block;
    text-decoration: none;
    width: 80px;
    height: 30px;
    background-color: var(--color-background-primary);
    color: var(--color-white);
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    position: absolute;
    right: 10px;
    bottom: 10px
}

.enzorEvents .book-btn {
    background-color: var(--color-secondary) !important;
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius-sm) !important;
}



@media screen and (max-width: 860px) {
    .enzorEvents .card {
        display: block;
        float: none;
        width: 100%;
        margin-bottom: 10px
    }

    .enzorEvents .card+.card {
        margin-left: 0
    }

    .enzorEvents .card-cont .even-date,
    .enzorEvents .card-cont .even-info {
        font-size: var(--font-size-md)
    }
}

/* #enzor(enzorEvents) #css ends  */
/* #barry(barryBlog) #css starts  */
.barryBlog .projects-horizontal .intro {
    font-size: var(--font-size-base);
    max-width: 500px;
    margin: 0 auto 10px
}

.barryBlog .projects-horizontal .projects {
    padding-bottom: 40px
}

.barryBlog .projects-horizontal .item {
    padding-top: 60px;
    min-height: 160px
}

.barryBlog .projects-horizontal .item img {
    width: 100%;
    max-height: 160px;
    object-fit: cover;
    display: block;
}

.barryBlog .projects-horizontal .item .name {
    font-size: var(--font-size-md);
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 15px;
    color: inherit
}

.barryBlog .projects-horizontal .item .description {
    font-size: var(--font-size-base);
    margin-bottom: 0
}

@media (max-width:767px) {
    .barryBlog .projects-horizontal h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: var(--font-size-lg);
    }

    .barryBlog .projects-horizontal .item {
        padding-top: 40px;
        min-height: 160px
    }
}

@media (max-width: 767px) {
    .barryBlog .projects-horizontal .item img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .barryBlog .projects-horizontal .item {
        padding-top: 20px;
    }

    .barryBlog .projects-horizontal h2 {
        font-size: var(--font-size-md);
    }

    .barryBlog .projects-horizontal .item .name {
        font-size: var(--font-size-base);
    }

    .barryBlog .projects-horizontal .item .description {
        font-size: var(--font-size-base);
    }
}

@media (max-width:991px) {
    .barryBlog .projects-horizontal .item .name {
        margin-top: 22px
    }
}
/* #barry(barryBlog) #css ends  */
/* #fang(fangFaq) #css starts  */
.fangFaq .faq {
    margin: 0 auto;
}

.fangFaq .question {
    color: var(--dark);
    position: relative;
    background: var(--color-white);
    margin: 0 auto;
    opacity: .9;
    padding: 10px 10px 10px 50px;
    display: block;
    cursor: pointer;
}

.fangFaq .answers {
    border-top: 1px solid var(--dark);
    background: var(--color-secondary);
    padding: 0px 15px;
    margin: 0 0 7px 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .7s ease;
    -moz-transition: .7s ease;
    -o-transition: .7s ease;
    transition: .7s ease;
}

.fangFaq .questions:checked~.answers {
    height: auto;
    opacity: 1;
    padding: 15px;
    color: var(--color-white);
}

.fangFaq .plus {
    position: absolute;
    margin-left: 10px;
    z-index: 5;
    font-size: 1.8em;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    color: var(--dark);
}

.fangFaq .questions:checked~.plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fangFaq .questions {
    display: none;
}

/* #fang(fangFaq) #css ends  */

    
/* #floss(flossFooter) #css starts */
.flossFooter footer {
    background: var(--color-secondary)
}

.flossFooter a {
    color: var(--color-white);
}

.flossFooter .form-control:focus {
    background: var(--color-tertiary);
    box-shadow: none;
    color: var(--color-white)
}

.flossFooter .mini-footer {
    background: var(--color-text-primary);
    padding: var(--spacing-md)
}

.flossFooter .mini-footer p {
    margin: 0;
    line-height: var(--line-height-sm);
}

.flossFooter .white {
    color: var(--color-white);
}

/* #floss(flossFooter) #css ends */



