/* #nooks(nooksNavbar) #css starts  */
.nooksNavbar .navbar-light .navbar-nav .nav-link {
    color: var(--color-text-primary);
}

.nooksNavbar .navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-hover-primary);
}

.nooksNavbar .btn {
    background-color: var(--color-secondary);
    border: none;
    padding: var(--btn-padding-sm);
    color: var(--color-white);
}

.nooksNavbar .btn:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
}

/* #nooks(nooksNavbar) #css ends  */

/* #hope(hopeHero) #css starts  */
.hopeHero .logo-header {
    background: linear-gradient(rgb(117 123 129 / 60%), rgba(62, 63, 64, 0.6)), url(../images/hero.jpg);
    background-size: cover;
    background-position: center bottom;
    color: var(--color-white);
    padding-top: 150px;
    padding-bottom: 100px
}

.hopeHero .logo-header h1 {
    margin: 0 auto 0.2em auto;
    color: var(--color-white);
}

.hopeHero .logo-header p {
    color: var(--color-white);
    margin: 0 auto 2em auto
}

.hopeHero .logo-header .btn {
    background-color: var(--color-secondary);
    color: var(--color-white);
    border-radius: var(--btn-radius-full);
}


@media (min-width: 992px) {
    .hopeHero .logo-header {
        height: 100vh;
        padding-top: 0;
        padding-bottom: 0
    }
}

/* #hope(hopeHero) #css ends  */
/* #calvo(calvoClients) #css starts  */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 8))
    }
}

.calvoClients .partners-logo-slider {
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
    padding: 16px 0px;
}

.calvoClients .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.calvoClients .sliderTitle {
    line-height: normal;
    text-align: center;
    margin-bottom: 40px;
}

.calvoClients .slide {
    height: 100px;
    width: 250px;
    filter: grayscale(100%);
}

.calvoClients .slide:hover {
    filter: grayscale(0%);
}

.calvoClients .partners-logo-slider img {
    max-height: 100px;
    max-width: 250px;
    margin-right: 100px;
}

/* #calvo(calvoClients) #css ends  */
/* #wisp(wispWhyus) #css starts  */
/* Value List Styling */
.wispWhyus .value-list li {
    list-style: none;
    margin-bottom: var(--spacing-lg);
}

.wispWhyus .value-list li h5 {
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-xs);
}

.wispWhyus .value-list li p {
    margin-bottom: 0;
    color: var(--color-text-secondary);
}

/* Icon Styling for Value List */
.wispWhyus .value-list .icon i {
    color: var(--color-primary);
}

/* Testimonial Card Styling */
.wispWhyus .testimonial.card {
    border: none;
    border-radius: var(--border-radius-md);
    box-shadow: 0 0.5rem 1rem var(--shadow-light);
}

.wispWhyus .testimonial i {
    color: var(--color-primary);
    margin-right: var(--spacing-sm);

}
.wispWhyus .value-list .icon i{
    font-size: 30px;
}
.wispWhyus .blockquote-footer {
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
}

/* #wisp(wispWhyus) #css ends  */
/* #peter(peterProduct) #css starts  */
.peterProduct .product-grid {
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease 0s;
}

.peterProduct .product-grid:hover {
    box-shadow: 0 0 10px var(--shadow-dark);
}

.peterProduct .product-grid .product-image {
    overflow: hidden;
}

.peterProduct .product-grid .product-image a {
    display: block;
}

.peterProduct .product-grid .product-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: all 0.5s ease 0s;

}

.peterProduct .product-grid:hover .product-image img {
    transform: scale(1.1);
}

.peterProduct .product-grid .product-content {
    padding: 12px 12px 15px 12px;
    transition: all 0.5s ease 0s;
}

.peterProduct .product-grid:hover .product-content {
    opacity: 0;
}

.peterProduct .product-grid .title {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all 0.3s ease 0s;
}

.peterProduct .product-grid .title a {
    color: var(--dark);
    text-decoration: none;
}

.peterProduct .product-grid .title a:hover {
    color: var(--dark);
}

.peterProduct .product-grid .price {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    color: var(--dark);
}

.peterProduct .product-grid .price span {
    color: var(--dark);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    text-decoration: line-through;
    margin-left: 7px;
    display: inline-block;
}

.peterProduct .product-grid .social {
    background-color: var(--color-background-primary);
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: -50%;
    left: 50%;
    z-index: 1;
    transition: all 0.5s ease 0s;
}

.peterProduct .product-grid:hover .social {
    opacity: 1;
    bottom: 20px;
}

.peterProduct .product-grid .social li {
    display: inline-block;
}

.peterProduct .product-grid .social li a {
    color: var(--dark);
    font-size: var(--font-size-base);
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    margin: 0 7px;
    border: 1px solid var(--color-secondary);
    border-radius: 50px;
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.peterProduct .product-grid .social li a i {
    line-height: inherit;
}

.peterProduct .product-grid .social li a:hover {
    color: var(--color-background-primary);
    background-color: var(--color-secondary);
    width: 80px;
}

.peterProduct .product-grid .social li a:before,
.peterProduct .product-grid .social li a:after {
    content: attr(data-tip);
    color: var(--color-background-primary);
    background-color: var(--dark);
    font-size: var(--font-size-xs);
    letter-spacing: 1px;
    line-height: 20px;
    padding: 1px 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px;
}

.peterProduct .product-grid .social li a:after {
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -20px;
    z-index: -1;
}

.peterProduct .product-grid .social li a:hover:before,
.peterProduct .product-grid .social li a:hover:after {
    opacity: 1;
}

@media only screen and (max-width:990px) {
    .peterProduct .product-grid {
        margin-bottom: 30px;
    }
}


/* #peter(peterProduct) #css ends  */
/* #fishy(fishyFeature) #css starts */
.fishyFeature h2 {
    margin-bottom: var(--spacing-xl);
}

.fishyFeature .mok-block img.mok-icon {
    width: var(--icon-size-xl)
}

.fishyFeature .btn {
    background-color: var(--color-secondary);
    border: none;
    padding: var(--btn-padding-sm);
    color: var(--color-white);
    margin-top: var(--spacing-xl);
}

.fishyFeature .btn:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
}

/* #fishy(fishyFeature) #css starts */
/* #exorn(exornEvents) #css starts  */
.exornEvents .white {
    color: var(--color-white);
}

.exornEvents .event-home h3,
.exornEvents .event-home h5,
.exornEvents .event-home h6 {
    color: var(--dark)
}

.exornEvents .event-home .subtitle {
    color: var(--dark);
    line-height: 24px;
    font-size: var(--font-size-md);
}

.exornEvents .event-home .text-themecolor {
    color: var(--dark);
    margin-left: 15px;
    padding-bottom: 15px;
    font-weight: var(--font-weight-semibold);
}

.exornEvents .event-home .text-themecolor:hover {
    color: var(--color-secondary);
}

.exornEvents .event-home h5 {
    line-height: 22px;
    font-size: var(--font-size-md);
    margin-left: 15px;
}

.exornEvents .event-home a.link {
    color: var(--color-secondary)
}

.exornEvents .event-home .on-hover {
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in
}

.exornEvents .event-home .on-hover:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px)
}

.exornEvents .event-home .date-pos {
    right: 10px;
    top: 10px
}

.exornEvents .event-home .date-pos span {
    font-size: var(--font-size-xl);
    line-height: 30px
}

.exornEvents .card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.exornEvents .event-home .bg-info-gradient {
    background: var(--color-tertiary);
}

.exornEvents p {
    max-width: none !important
}

/* #exorn(exornEvents) #css ends  */
/* #trove(troveTestimonial) #css starts  */
.troveTestimonial {
    display: flex;
    align-items: center;
}

.troveTestimonial #demo {
    background: linear-gradient(112deg, var(--color-background-primary) 50%, var(--color-border-hover) 50%);
    max-width: 900px;
    margin: auto;
}

.troveTestimonial .carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: var(--dark);
    text-align: center;
    line-height: 2rem;
}

@media(max-width:767px) {
    .troveTestimonial .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        text-align: center;
        line-height: 1.5rem;
    }
}

.troveTestimonial .carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem;
}

@media(max-width:767px) {
    .troveTestimonial .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem;
    }
}

.troveTestimonial #image-caption {
    margin-top: 0.5rem;
}

@media(max-width:767px) {
    .troveTestimonial #image-caption {
        margin-top: 0.5rem;
    }
}

.troveTestimonial i {
    background-color: var(--color-secondary);
    padding: 1.4rem;
}

@media(max-width:767px) {
    .troveTestimonial i {
        padding: 0.8rem;
    }
}

.troveTestimonial .carousel-control-prev {
    justify-content: flex-start;
}

.troveTestimonial .carousel-control-next {
    justify-content: flex-end;
}

.troveTestimonial .carousel-control-prev,
.troveTestimonial .carousel-control-next {
    transition: none;
    opacity: unset;
}

/* #trove(troveTestimonial) #css ends  */
/* #barry(barryBlog) #css starts  */
.barryBlog .projects-horizontal .intro {
    font-size: var(--font-size-base);
    max-width: 500px;
    margin: 0 auto 10px
}

.barryBlog .projects-horizontal .projects {
    padding-bottom: 40px
}

.barryBlog .projects-horizontal .item {
    padding-top: 60px;
    min-height: 160px
}

.barryBlog .projects-horizontal .item img {
    width: 100%;
    max-height: 160px;
    object-fit: cover;
    display: block;
}

.barryBlog .projects-horizontal .item .name {
    font-size: var(--font-size-md);
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 15px;
    color: inherit
}

.barryBlog .projects-horizontal .item .description {
    font-size: var(--font-size-base);
    margin-bottom: 0
}

@media (max-width:767px) {
    .barryBlog .projects-horizontal h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: var(--font-size-lg);
    }

    .barryBlog .projects-horizontal .item {
        padding-top: 40px;
        min-height: 160px
    }
}

@media (max-width: 767px) {
    .barryBlog .projects-horizontal .item img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .barryBlog .projects-horizontal .item {
        padding-top: 20px;
    }

    .barryBlog .projects-horizontal h2 {
        font-size: var(--font-size-md);
    }

    .barryBlog .projects-horizontal .item .name {
        font-size: var(--font-size-base);
    }

    .barryBlog .projects-horizontal .item .description {
        font-size: var(--font-size-base);
    }
}

@media (max-width:991px) {
    .barryBlog .projects-horizontal .item .name {
        margin-top: 22px
    }
}

/* #barry(barryBlog) #css ends  */
/* #foils(foilsFooter) #css starts */
.foilsFooter h5 {
    font-weight: var(--font-weight-semibold);
    color: var(--color-primary);
}

.foilsFooter .icons {
    color: var(--dark);
}

/* #foils(foilsFooter) #css ends */